.bts {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}
.bts:hover {
  background-color: #d0d0d0;
  transition: 0.5s;
  color: #1f1f1f;
}
